name: Laravel CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up SSH
      uses: appleboy/ssh-action@master
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
        passphrase: ${{ secrets.SSH_PASSPHRASE }} # Add this line
    - name: Deploy to DigitalOcean
      run: |
        ssh -o StrictHostKeyChecking=no forge@157.230.2.144 << 'EOF'
          cd /var/www/devcentricstudio.com
          git pull origin main
          composer install --no-dev --prefer-dist
          php artisan migrate --force
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache
        EOF
